jsonschema==4.23.0
jsonschema-specifications==2024.10.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
arvestapi @ git+https://github.com/ARVEST-APP/arvest-api.git@681e82e96b65bd7e16a8d3c00dbec9a244adaae6
attrs==24.2.0
blinker==1.8.2
click==8.1.7
discord.py==2.4.0
Flask==3.0.3
frozenlist==1.4.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
multidict==6.1.0
python-dotenv==1.0.1
Werkzeug==3.0.4
yarl==1.11.1
iiif-prezi3 @ git+https://github.com/iiif-prezi/iiif-prezi3.git@3ec97f3d9e341ae4edca13e09f033fe4672222c1
pdf2image==1.17.0
pillow==11.0.0
pyarrow==19.0.1
pydantic==1.10.21
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.1
Pygments==2.19.1
pymediainfo==7.0.1
PyMuPDF==1.25.3
urllib3==1.26.20


